body{
  display: block!important;
  background-image: url('../pictures/background.jpg');
}

#root {
  max-width: 85%;
  height: 100vh;
  margin: 0 auto;
  display: block;
  background-color: rgb(251, 251, 251);
  border: 2px solid rgb(82, 2, 82);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App{
  max-height: 100%;
  height: 100vh;
}

.window{
  overflow-y: scroll;
  height: 100vh;
  max-height: 85vh;
}

.ul{
  margin: 0;
  padding: 0;
}

.h1{
  margin: 0;
  font-size: 20px;
  color: white;
  padding-top: 2vh;
  padding-left: 30px;
}

header{
  background-color: purple;
  height: 7vh;
  width: 100%;
}

.form{
  width: 85%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.input{
  width: 100%;
  padding: 15px 7px;
}

.user{
  background-color: plum;
  list-style: none;
  width: 300px;
  margin-top: 30px;
  margin: 30px 30px 0 auto;
  padding: 20px;
  text-align: center;
  font-weight: 500;
  color: #fff;
  position: relative;
  font-size: 18px;
  border-radius: 13px;
}

.user::before{
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid plum;
  border-right: 10px solid transparent;
  border-top: 10px solid plum;
  border-bottom: 10px solid transparent;
  right: -19px;
}

.gpt{  
  background-color: pink;
  list-style: none;
  width: 300px;
  margin-top: 30px;
  margin: 30px auto 0 30px;
  padding: 20px;
  text-align: center;
  font-weight: 500;
  color: #fff;
  position: relative;
  font-size: 18px;
  border-radius: 13px;
}

.gpt::before{
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid pink;
  border-top: 10px solid pink;
  border-bottom: 10px solid transparent;
  left: -19px;
}
.User{
  color: black;
}